# First Steps with xlwings

## Using xlwings as a Data Viewer

In [31]:
import xlwings as xw
import pandas as pd
import numpy as np

__numpy array__

In [32]:
data1 = np.random.randint(1, 100, 10000).reshape(100, 100)

In [33]:
data1#.shape

array([[ 4, 62,  5, ..., 82, 25, 14],
       [57, 55, 10, ..., 95, 82, 49],
       [47, 98, 16, ...,  4, 10, 60],
       ...,
       [92, 92, 73, ..., 37, 70, 74],
       [78, 43, 38, ..., 95, 25, 43],
       [69, 82, 76, ..., 85, 78, 82]])

In [34]:
xw.view(data1)

In [35]:
data2 = np.random.randint(1, 100, 100).reshape(10, 10)
data2

array([[16, 12, 19, 14, 19, 87, 95, 88, 58, 19],
       [22, 67, 37, 62, 90, 64,  6, 79, 50, 38],
       [23, 63, 21, 86, 75, 49, 84, 75, 13, 71],
       [ 3, 73, 18, 71, 34, 57, 13, 44, 66,  1],
       [70, 58, 46, 60, 51, 80, 17, 50, 22, 53],
       [23, 69, 87,  2, 95, 34, 25, 76, 13, 40],
       [ 1, 75, 83, 63, 35,  3, 70, 50, 63, 71],
       [45, 22, 65, 28, 48, 66, 28, 41, 99, 48],
       [ 5, 70, 16, 86, 59, 55, 95, 24, 56,  7],
       [76, 37, 96, 78, 59, 47, 12, 29, 15, 84]])

In [36]:
xw.view(data2)

In [37]:
xw.view(data2, sheet = xw.sheets.active)

__Pandas DataFrame__

In [13]:
df = pd.read_csv("titanic.csv")

In [14]:
df

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [15]:
pd.options.display.max_rows = 900

In [29]:
xw.view(df)

## Connecting to a Book

In [1]:
import xlwings as xw

### 1. Open a new Book

We can do it 2 ways


Option 1:-

In [2]:
xw.Book() # opens a excel file

In [3]:
xw.books.active # Gives name of Active Workbook

In [4]:
xw.books.active.close() # closes te active excel file

Option 2:-

In [5]:
wb = xw.Book() # opens a excel file

In [6]:
wb # Gives name of Active Workbook

In [7]:
wb.close()  # closes the active excel file

### 2. Connect to an open, unsaved Book

In [10]:
wb = xw.Book("Book1") # Book 1:- name of the Excel File
wb

### 3. Connect to a saved Book

In [8]:
r"D:\Vscode Projects\Python Projects\pandaConda\pandaconda\Xlwings\CaseStudy_1.xlsx"

'D:\\Vscode Projects\\Python Projects\\pandaConda\\pandaconda\\Xlwings\\CaseStudy_1.xlsx'

In [9]:
path = r"D:\Vscode Projects\Python Projects\pandaConda\pandaconda\Xlwings\CaseStudy_1.xlsx" #Windows

In [10]:
#path = "/Users/hagma_w/Desktop/Test1.xlsx" #macOS and Linux

In [11]:
wb = xw.Book(path) # connects to the excel file in path and opens it up
wb

In [12]:
wb = xw.Book("Test2.xlsx")
wb

## Reading and Writing single Values

In [17]:
import xlwings as xw

In [18]:
wb = xw.Book() # create a book object
wb

In [19]:
sheet = wb.sheets[0]
sheet

In [20]:
xw.books.active # gives active book

In [23]:
xw.sheets.active # gives active sheet name

### Writing a single Value

In [24]:
#Write a value in Open sheet cell
sheet.range("A1").value = "Hello World" # strings

### Reading a single Value

In [25]:
sheet.range("A1").value

'Hello World'

In [26]:
sheet.range("A1")

In [27]:
sheet.range((1, 1)).value

'Hello World'

In [29]:
#Write a value in Open sheet
sheet.range((1, 2)).value = 123 # numerical values

In [30]:
sheet.range("B1").value

123.0

In [31]:
int(sheet.range("B1").value)

123

__datetime objects__

In [ ]:
import datetime as dt

In [ ]:
date = dt.datetime(2020, 3, 20, 15, 30, 45)
date

In [ ]:
sheet.range("A2").value = date # datetime objects

In [ ]:
sheet.range("A2").value

In [ ]:
sheet.range("A1").clear_contents()

## Assigning a Name (named ranges)

In [ ]:
sheet.range("A1").value = 1000

In [ ]:
sheet.range("A1").value

In [ ]:
sheet.range("A1").name = "Number"

In [ ]:
sheet.range("Number").value

In [ ]:
sheet.range("Number").name

## Writing Excel Functions with Python

In [ ]:
import xlwings as xw

In [ ]:
wb = xw.Book()
wb

In [ ]:
sheet = wb.sheets[0]
sheet

In [ ]:
sheet.range("A3").formula = "=SUM(A1:A2)"

In [ ]:
sheet.range("A3").value

In [ ]:
sheet.range("A3").formula

In [ ]:
sheet.range("B1").formula = "=A1"

In [ ]:
sheet.range("B1").formula

## Range Shortcuts

In [ ]:
import xlwings as xw

In [ ]:
wb = xw.Book()
wb

In [ ]:
sheet = wb.sheets[0]
sheet

In [ ]:
sheet.range("A1").value = 100

In [ ]:
sheet.range("A1").value

In [ ]:
sheet["B1"].value = 100

In [ ]:
sheet["B1"].value

## Case Study - bringing it all together

In [ ]:
import xlwings as xw
import numpy_financial as npf # NEW
import numpy as np

In [ ]:
wb = xw.Book("CaseStudy_1.xlsx")
wb

In [ ]:
sheet = wb.sheets[0]
sheet

In [ ]:
sheet.range("B1").name = "Saving"

In [ ]:
sheet.range("B2").name = "Interest_Rate"

In [ ]:
sheet.range("B3").name = "Periods"

In [ ]:
sheet.range("B4").name = "Future_Value"

In [ ]:
fv = -npf.fv(rate = sheet.range("Interest_Rate").value, 
            nper = sheet.range("Periods").value, 
            pmt = 0, 
            pv = sheet.range("Saving").value
           )

In [ ]:
fv

In [ ]:
sheet.range("Future_Value").value = fv

# Homework

Import the required Library.

Open a new workbook and create a conncetion to that workbook with xlwings. Create a sheet object.

Type two numbers of your choice into the cells A1 and B1 (no Python Code required).

Create named ranges for both cells and read the values into Python with xlwings.

Move the cells in Excel and change their values (no Python Code required).

Read the values into Python, calculate the sum in Python, and write the sum into any other cell with xlwings.

Open the Excel file "Test2.xlsx" and change the value in cell C1 from 2 to "two".

Try to create an xlwings connection to any excel workboook of your choice on your computer and read and write values.

# +++ Stop here, if you don´t want to see the Solution! +++

----------------------------

## Homework Solution

Import the required Library.

In [ ]:
import xlwings as xw

Open a new workbook and create a conncetion to that workbook with xlwings. Create a sheet object.

In [ ]:
wb = xw.Book()

In [ ]:
sheet = wb.sheets[0]

Type two numbers of your choice into the cells A1 and B1 (no Python Code required).

Create named ranges for both cells and read the values into Python with xlwings.

In [ ]:
sheet.range("A1").name = "Number1"

In [ ]:
sheet.range("B1").name = "Number2"

In [ ]:
sheet.range("Number1").value

In [ ]:
sheet.range("Number2").value

Move the cells in Excel and change their values (no Python Code required).

Read the values into Python, calculate the sum in Python, and write the sum into any other cell with xlwings.

In [ ]:
add_numbers = sheet.range("Number1").value + sheet.range("Number2").value

In [ ]:
add_numbers

In [ ]:
sheet.range("F10").value = add_numbers

Open the Excel file "Test2.xlsx" and change the value in cell C1 from 2 to "two".

In [ ]:
wb = xw.Book("Test2.xlsx")

In [ ]:
sheet = wb.sheets[0]

In [ ]:
sheet.range("C1").value = "two"

Try to create an xlwings connection to any excel workboook of your choice on your computer and read and write values.

In [ ]:
# see Lecture "How to connect to a workbook" (connect to a saved book)