# Saving and Serialising DataFrames

In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.DataFrame(np.random.random(size=(100000,4)),columns=["A","B","C","D"])
df.head()

          A         B         C         D
0  0.262035  0.080282  0.607480  0.356113
1  0.542755  0.453805  0.458204  0.888470
2  0.530796  0.891795  0.186614  0.053429
3  0.645748  0.404074  0.330180  0.068261
4  0.447755  0.781091  0.869560  0.674871

In [6]:
df.to_csv("save.csv",index=False,float_format="%0.4f")
df.to_pickle("svae.pkl")