# 2D dist continued!

### Pandas Styling for tables!

What if instead of having a ton of data to bin, we simply have a 2D table in pandas?

In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.DataFrame(np.random.normal(size=(6,6)),columns=[x for x in "ABCDEF"])
df

          A         B         C         D         E         F
0  0.175044 -0.112903 -1.295076  0.792762 -0.112906 -1.914201
1  1.638484  1.049033 -0.517235 -0.696801 -1.502103  1.542003
2 -0.459179  1.021856  1.022587  3.167056 -1.702997 -1.237098
3 -0.091027 -1.564184  1.688237  0.076190  0.873852 -1.703137
4 -0.136428  1.168228  0.591207  0.882814 -0.003418 -1.567931
5  1.711448 -0.123046 -0.102071  0.362165  1.514650 -0.770193